#login{
    width: 100px;  /* aumenta a largura*/
    height: 40px;  /* aumenta a altura*/
    background-color: rgb(235,84,84); /* alterar  a cor */
    color: #ffff;
    border-radius: 20px; /* torna as bordas redondas*/
    border: none;
} 
.menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;                            
}
#navbarNav{
    display: flex;
    justify-content: center;
    align-items: center;
}
#banner{
    height: 450px;
    width: 450px;
}
.texto-banner{
    font-size: 60px;
    font-style: bolder;
   
}
.caixa-texto{
    width: 400px;
    background-color: beige;
    display: flex;
    justify-content: center;
    align-items:center;
    flex-direction: column;
}
.titulo{
    display: flex;
    align-items: center;
}
.caixa-estrutura{
    display: flex;
    flex-direction: row;  
}